<!-- <h3 style="text-align:center">立刻開始Python探索</h3>   -->

<br><br>


<img [src]="netImage" alt="Workplace" usemap="#image-map" style="width: fit-content;">
<!-- 2880 1446 -->
<!-- 968 2.73 -->

<map name="image-map">
    <area target="" alt="正規" title="正規" href="" coords="1168,168,1504,280" (click)="getCourse(courses[9])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;" shape="rect">
    <area target="" alt="表格" title="表格" href="" coords="415,402,837,514" (click)="getCourse(courses[5])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;" shape="rect">
    <area target="" alt="爬蟲" title="爬蟲" href="" coords="913,402,1211,512" (click)="getCourse(courses[7])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;" shape="rect">
    <area target="" alt="斷詞" title="斷詞" href="" coords="1259,397,1697,509" (click)="getCourse(courses[11])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;" shape="rect">
    <area target="" alt="主題分析" title="主題分析" href="" coords="1768,407,2089,514" (click)="getCourse(courses[15])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;" shape="rect">
    <area target="" alt="非監督" title="非監督" href="" coords="2168,412,2648,524" (click)="getCourse(courses[17])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;" shape="rect">
    <area target="" alt="繪圖" title="繪圖" href="" coords="211,682,585,786" (click)="getCourse(courses[6])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="Numpy" title="Numpy" href="" coords="679,677,1091,781" (click)="getCourse(courses[4])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="索引" title="索引" href="" coords="1214,677,1621,786" (click)="getCourse(courses[10])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="字詞向量" title="字詞向量" href="" coords="1725,682,2196,786" (click)="getCourse(courses[13])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="情感" title="情感" href="" coords="2483,672,2804,781" (click)="getCourse(courses[18])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="檔案" title="檔案" href="" coords="71,942,412,1041" (click)="getCourse(courses[3])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="邏輯" title="邏輯" href="" coords="570,939,1002,1041" (click)="getCourse(courses[2])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="共現性" title="共現性" href="" coords="1137,942,1491,1044" (click)="getCourse(courses[12])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="語意分析" title="語意分析" href="" coords="1580,937,2091,1049" (click)="getCourse(courses[14])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="監督學習" title="監督學習" href="" coords="2175,932,2610,1038" (click)="getCourse(courses[16])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
    <area target="" alt="安裝環境" title="安裝環境" href="" coords="310,1143,702,1288" (click)="getCourse(courses[0])"  data-target="#myModal" data-toggle="modal" style="cursor: pointer;"  shape="rect">
</map>

<!--
<div class="aaa filter">
  <div class="row row-cols-3 center">
    <div class="col"></div>
    <div class="col">
      <div style="padding: 130px 0 0 90px"><div (click)="getCourse(courses[9])"  data-target="#myModal" data-toggle="modal" style=" width: 170px; height:60px; z-index:1; cursor: pointer;"></div></div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row center">
      <div style="padding: 85px 0 0 240px"><div (click)="getCourse(courses[5])"  data-target="#myModal" data-toggle="modal" style=" width: 210px; height:60px; z-index:2; cursor: pointer"></div></div>
      <div style="padding: 60px 0 0 30px"><div (click)="getCourse(courses[7])"  data-target="#myModal" data-toggle="modal" style=" width: 140px; height:60px; z-index:3; cursor: pointer;"></div></div>
      <div style="padding: 75px 0 0 30px"><div (click)="getCourse(courses[11])"  data-target="#myModal" data-toggle="modal" style=" width: 200px; height:60px; z-index:4; cursor: pointer;"></div></div>
      <div style="padding: 70px 0 0 40px"><div (click)="getCourse(courses[15])"  data-target="#myModal" data-toggle="modal" style=" width: 130px; height:60px; z-index:5; cursor: pointer;"></div></div>
      <div style="padding: 90px 0 0 100px"><div (click)="getCourse(courses[17])"  data-target="#myModal" data-toggle="modal" style=" width: 220px; height:60px; z-index:6; cursor: pointer;"></div></div>
  </div>

  <div class="row center">
    <div style="padding: 45px 0 0 150px"><div (click)="getCourse(courses[6])"  data-target="#myModal" data-toggle="modal" style=" width: 180px; height:60px; z-index:2; cursor: pointer; "></div></div>
    <div style="padding: 50px 0 0 20px"><div (click)="getCourse(courses[4])"  data-target="#myModal" data-toggle="modal" style=" width: 200px; height:60px; z-index:3; cursor: pointer;"></div></div>
    <div style="padding: 55px 0 0 80px"><div (click)="getCourse(courses[10])"  data-target="#myModal" data-toggle="modal" style=" width: 200px; height:60px; z-index:4; cursor: pointer; "></div></div>
    <div style="padding: 55px 0 0 60px"><div (click)="getCourse(courses[13])"  data-target="#myModal" data-toggle="modal" style=" width: 220px; height:60px; z-index:5; cursor: pointer; "></div></div>
    <div style="padding: 45px 0 0 170px"><div (click)="getCourse(courses[18])"  data-target="#myModal" data-toggle="modal" style=" width: 140px; height:60px; z-index:6; cursor: pointer;"></div></div>
</div>

<div class="row center">
  <div style="padding: 50px 0 0 55px"><div (click)="getCourse(courses[3])"  data-target="#myModal" data-toggle="modal" style=" width: 150px; height:60px; z-index:2; cursor: pointer; "></div></div>
  <div style="padding: 50px 0 0 70px"><div (click)="getCourse(courses[2])"  data-target="#myModal" data-toggle="modal" style=" width: 200px; height:60px; z-index:3; cursor: pointer; "></div></div>
  <div style="padding: 50px 0 0 140px"><div (click)="getCourse(courses[12])"  data-target="#myModal" data-toggle="modal" style=" width: 160px; height:60px; z-index:4; cursor: pointer;"></div></div>
  <div style="padding: 70px 0 0 40px"><div (click)="getCourse(courses[14])"  data-target="#myModal" data-toggle="modal" style=" width: 240px; height:60px; z-index:5; cursor: pointer; "></div></div>
  <div style="padding: 30px 0 0 60px"><div (click)="getCourse(courses[16])"  data-target="#myModal" data-toggle="modal" style=" width: 200px; height:60px; z-index:6; cursor: pointer;"></div></div>
</div>

<div class="row center">
  <div style="padding: 45px 0 0 170px"><div (click)="getCourse(courses[0])"  data-target="#myModal" data-toggle="modal" style=" width: 180px; height:80px; z-index:2; cursor: pointer"></div></div>
</div>


</div> -->

<app-modal></app-modal>


<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<!-- <script src="http://mattstow.com/experiment/responsive-image-maps/jquery.rwdImageMaps.min.js"></script> -->
<!-- <script>
    $(document).ready(function(e) {
        $('img[usemap]').rwdImageMaps();
    });
</script> -->
<!--

<div class="container" style="padding-top: 80px;">
  <div class="row row-cols-3 center" *ngFor="let course of courses; index as id">
    <div class="col"></div>
    <div class="col">
      <a [title]="course.name" [routerLink]="['/courses', id]">
      <a [title]="course.name"  data-target="#myModal" data-toggle="modal">
        <div class="card h-100" *ngIf="course.group == 0">
          <div class="card-body">
            <h5 class="card-title">{{course.name}}</h5>
            <p class="card-text">{{course.content}}</p>
        </div></div>
      </a>
    </div>
    <div class="col"></div>
  </div>

  <hr>

  <div class="row row-cols-4 center" >
    <div class="col"></div>
      <div *ngFor="let i of [1,2]">
        <div class="col">
            <a [title]="courses[i].name"  data-target="#myModal" data-toggle="modal">
            <a data-toggle="modal" data-target="#myModal" (click)="showModal()" [routerLink]="['/modals', i]"></a>
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{courses[i].name}}</h5>
                  <p class="card-text">{{courses[i].content}}</p>
              </div></div>
            </a>
        </div>
      </div>
      <div class="col"></div>
  </div>

  <hr>

  <div class="row row-cols-4 center" >
      <div *ngFor="let i of [3,4,5,6]">
        <div class="col">
            <a [title]="courses[i].name" [routerLink]="['/courses', i]">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{courses[i].name}}</h5>
                  <p class="card-text">{{courses[i].content}}</p>
              </div></div>
            </a>
        </div>
      </div>
  </div>

  <hr>

  <div class="row row-cols-4 center" >
    <div *ngFor="let i of [7,8,9,10]">
      <div class="col">
          <a [title]="courses[i].name" [routerLink]="['/courses', i]">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{courses[i].name}}</h5>
                <p class="card-text">{{courses[i].content}}</p>
            </div></div>
          </a>
      </div>
    </div>
</div>

  <hr>

  <div class="row row-cols-3 center">
    <div class="col"></div>
    <div class="col">
      <p>文字探勘</p>
      <a href="/*" class="color">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">中(英)文斷詞</h5>
            <p class="card-text">（文字探勘）</p>
          </div></div></a>
      <br>
      <a href="/*" class="color">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">共線性</h5>
            <p class="card-text">（文字探勘）</p>
          </div></div></a>
      <br>
      <a href="/*" class="color">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">向量與TFIDF</h5>
            <p class="card-text">（文字探勘）</p>
          </div></div></a>
      <br>
      <a href="/*" class="color">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">降維、潛在語意分析</h5>
            <p class="card-text">（文字探勘）</p>
          </div></div></a>
      <br>
      <a href="/*" class="color">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">主題分析與分群</h5>
            <p class="card-text">（文字探勘）</p>
          </div></div></a>
      <br>
      <a href="/*" class="color">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">繪圖與視覺化</h5>
            <p class="card-text">（文字探勘）</p>
          </div></div></a>
      <br>
      <a href="/*" class="color">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">分類與機械學習</h5>
            <p class="card-text">（文字探勘）</p>
          </div></div></a>
      <br>
      <a href="/*" class="color">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">情感分析</h5>
            <p class="card-text">（文字探勘）</p>
          </div></div></a>
    </div>
    <div class="col"></div>
  </div>

<br>

<app-modal></app-modal>

 </div> -->
