<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{course.name}}</h4>
        <button type="button" class="close" (click)="hideModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" >

        <!-- <p>{{ course.content }}</p> -->
        <p>{{ course.text }}</p>
        <p>程式檔案下載：<a href="{{ course.pgd }}">程式</a></p>
        <span *ngIf="course.pgdex.length > 0;">
          <p>程式範例下載：<a href="{{ course.pgdex }}">範例檔案</a></p>
        </span>

        <h4>教學影片連結：</h4>
        <div *ngIf="course.videourl[1].length >= 2; else lengthe">
            <div class="row row-cols-3 center">
              <div class="col" *ngFor="let i of course.videourl">
              <iframe width="100%" height="250" [src]="i | safe"> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <ng-template #lengthe>
          <iframe width="500" height="300" [src]="course.videourl | safe"> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ng-template>

      </div>

      <!-- Modal footer -->
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-primary" (click)="sendModal()" >Send</button>
        <button type="button" class="btn btn-danger" (click)="hideModal()">Close</button> -->
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      <!-- </div> -->
    </div>
  </div>
</div>
