<main>
  <header class="page-header" role="banner" style="text-shadow: 30px;">
    <h1 class="project-name">Python模組學習</h1>
    <h2 class="project-tagline">用最簡單的方式學習程式</h2>
      <a class="btn btn-primary" routerLink="/course">所有課程</a>
  </header>

  <div class="container" style="padding: 50px;">
    <div class="row row-cols-3 center">
      <div class="col">
        <div class="card box">
            <img class="rounded-circle" width="150" height="130" src="https://titangene.github.io/images/cover/python.png">
            <h4><b>學習模組化</b></h4>
            <p> 將要學習的區塊拆分成多個學習組合，讓初心者能夠一目瞭然知道每個學習區塊，更能夠分配好學習目標。</p>
        </div>
      </div>
      <div class="col">
      <div class="card box">
          <img class="rounded-circle" width="150" height="130" src="https://d32kak7w9u5ewj.cloudfront.net/media/image/2019/12/c5730005eac14860be4d9565d92d236a.jpg">
          <h4><b>問題導向學習</b></h4>
          <p>以問題、議題的方式，來劃分學習模組的區塊，能夠迅速了解自己想要解決、分析的問題，需要哪些學習模組來完成。</p>
      </div>
      </div>
      <div class="col">
      <div class="card box">
          <img class="rounded-circle" width="150" height="130" src="https://www.gannett-cdn.com/-mm-/9e1f6e2ee20f44aa1f3be4f71e9f3e52b6ae2c7e/c=0-110-2121-1303/local/-/media/2019/10/26/USATODAY/usatsports/gettyimages-977398052.jpg?width=2121&height=1193&fit=crop&format=pjpg&auto=webp">
          <h4><b>線上與討論（建置中）</b></h4>
          <p>以學習包、錄製影片的方式教學，讓學習者能夠無時無刻自學程式與分析，另有討論區塊能夠讓每一位學習交流討論。</p>
      </div>
      </div>
    </div>
  </div>

  <div class="container" style="padding: 20px;">
    <h3>## 什麼是大數據？</h3>
    <p>
      大數據(big)與資料探勘(data mining)是目前社會科學最熱門的研究趨勢之一，其特殊之處，不只是資料量龐大，還在獨特的分析邏輯。
      這種由資訊科學(data science)發展出來的方法，嘗試從數據背後，找出有用的規則。與傳統量化研究，最大的差別在，它沒有樣本的概念，研究對象就是母體，不需要抽樣，沒有統計推論的問題，亦即看不到熟知的P-value。它不強調理論的指引，從數據本身出發。傳統統計的觀點，這如同數字遊戲，然而，大數據方法在預測上相當有成效，只要數據夠大，即使是玩數字遊戲，也能玩出花樣來，這大大顛覆了過去的認知。
      另一個差異是，傳統統計處理的是「結構性資料」，亦即關聯表格式的資料，但在處理「非結構性資料」方面，例如影像、聲音、文字，因為沒有固定的格式，這個時候，資料科學就顯現出獨特的優越性了。本課程，我們關心的是文字型態的資料，像新聞、Facebook、Twitter、微博的貼文、演講、公報、會議記錄等，這些都是非結構性資料，大數據「文字探勘」(text mining)成為必要的選擇。
    </p>
    <hr>
    <h3>## 文字探勘</h3>
    <p>
    在大數據「文字探勘」以前，質化或量化的「文本分析」早就是學術界常見的方法。「文本」是作者基於特定目的、有意的文字表達。同樣一份文本，不同的人有不同的解讀，如何正確、有效的詮釋本文，是文本分析的重點。不同的學派，對此有相當不同的觀點，文學、哲學、歷史、政治、社會、法律，各學科亦有不同的強調。為免詮譯過於主觀，不少學者嘗試以量化的途徑，將文本加註標記，透過電腦程式，計算次數、頻率、比例、關聯性等。不過，即使如此，研究者的背景知識、問題意識、對文字的敏感度，仍居研究主導地位。這裡我們說的「文字探勘」與此不同。電腦開始反客為主，將文本轉換成數字 (向量) ，文字被「去意義化」了，變成沒有「意義」的數學符號，交由數學演算法來運算 。研究者扮演的角色是選擇「演算法」，解釋分析出來的結果；同時，判斷結果是否有意義，而言些演算法，如類神經網絡、深度學習，都是傳統統計，所沒有觸及的。簡言之，大數據分析是以資料為導向，拋棄理論的束縛，讓數據自己說話。顯而易見地，這是一種完全不同的思維模式。
    </p>
    <hr>
    <h3>## 為什麼要學python</h3>
    <p>
      文字資料來源很多，報章雜誌、官方文書、網路論壇、會議紀錄、演講稿、對話、札記、訪談等，格式多樣，夾雜著不相干的雜訊、圖片、廣告等，在分析以前，我們要先清理資料，刪除不要的，保留要的，亦即有大量的前置作業要進行。這個工作曠日廢時，沒有簡便的套裝軟體可用，必須仰賴我們自己寫程式。這門
      課，我們以 Python 語言為主。主要原因是，它簡單易學、應用廣泛，有大量的程式庫，可供運用。
    </p>
    <hr>
    <h3>## 課程設計與學習包的使用</h3>
    <p>
      本課程分成三大部分：一、python 的程式語法；二、網路爬蟲；三、文字探勘，進行各種文字的分析。
      不只是介紹方法，更重要的是要實作，學期結束前，我們會分組，各組都要完成一個專案。
      根據過去經驗，本課程修課學生平均，每週要花十個小時準備，方能跟得上進度。
      學習包就是範例程式。建議大家學習，先從學習包開始。
      只要程式安裝正確，設好路徑，啟動 Anaconda Nevigator  >  Jupyter Notebook 即可逐步執行學習包的指令。一個cell 一個cell 執行，執行的結果馬上呈現。
      程式旁邊有註解，同學也可以修改指令，比較不同指令的差異。
      所有的程式範例，都與文字探勘關，也就是說，同學們一方面在學習程式語言，另一方面已在進行文字探勘了。
      每個學習包後面，都有數目不等的，練習與作業，這是考驗大家學習成果的最好方式。
    </p>
  </div>

</main>

